@model IEnumerable<MovieAdda.Models.Moviee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleasedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleasedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
